[submodule "home/.vim/bundle/python-syntax"]
	path = home/.vim/bundle/python-syntax
	url = https://github.com/hdima/python-syntax.git
[submodule "home/.vim/bundle/ultisnips"]
	path = home/.vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "home/.vim/bundle/vim-virtualenv"]
	path = home/.vim/bundle/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv.git
[submodule "home/.vim/bundle/ropevim"]
	path = home/.vim/bundle/ropevim
	url = https://github.com/mcepl/ropevim.git
