[submodule "home/.vim/bundle/python-syntax"]
	path = home/.vim/bundle/python-syntax
	url = https://github.com/hdima/python-syntax.git
[submodule "home/.vim/bundle/ultisnips"]
	path = home/.vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
