[submodule "home/.vim/bundle/python-syntax"]
	path = home/.vim/bundle/python-syntax
	url = https://github.com/hdima/python-syntax.git
[submodule "home/.vim/bundle/ultisnips"]
	path = home/.vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "home/.vim/bundle/vim-virtualenv"]
	path = home/.vim/bundle/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv.git
[submodule "home/.vim/bundle/vim-python-pep8-indent"]
	path = home/.vim/bundle/vim-python-pep8-indent
	url = https://github.com/hynek/vim-python-pep8-indent.git
[submodule "home/.vim/bundle/salt-vim"]
	path = home/.vim/bundle/salt-vim
	url = https://github.com/saltstack/salt-vim.git
[submodule "home/.vim/bundle/vim-jinja2"]
	path = home/.vim/bundle/vim-jinja2
	url = https://github.com/Glench/Vim-Jinja2-Syntax.git
[submodule "home/.vim/bundle/yaml-vim"]
	path = home/.vim/bundle/yaml-vim
	url = https://github.com/ingydotnet/yaml-vim.git
[submodule "home/.vim/bundle/jedi-vim"]
	path = home/.vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "home/.vim/bundle/ropevim"]
	path = home/.vim/bundle/ropevim
	url = https://github.com/python-rope/ropevim.git
[submodule "home/.vim/bundle/vim-snippets"]
	path = home/.vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
